@import './theme.scss';

@font-face {
    font-family: 'Okuda';
    src: url('./../fonts/Okuda.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Okuda';
    src: url('./../fonts/Okuda.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Okuda';
    src: url('./../fonts/Okuda.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
