$color_grey: #848484;
$color_yellow: #ffce63;
$color_pale: #f6ef95;
$color_purple: #9c639c;
$color_pink: #ce9cce;
$color_orange: #ff9c00;
$color_red: #ce6363;

$color_background: black;

$color_picard_red: #e7442a;
$color_picard_lightgrey: #9ea5ba;
$color_picard_grey: #6d748c;
$color_picard_darkgrey: #2f3749;
$color_picard_dark: #111419;

$text-padding: 0.04em 0.2em;

// Picard: E7442A, 9EA5BA, 6D748C, 2F3749, and 111419. https://twitter.com/ajarvis_art/status/1359607613806239753
