@use '../../global-styles/' as *;

.Screen {
    background: $color_background;

    &.Screen__padding-small {
        padding: 0.25em;
    }

    &.Screen__padding-medium {
        padding: 0.5em;
    }

    &.Screen__padding-large {
        padding: 0.75em;
    }
}
