@use '../../global-styles/' as *;

.DividingHeader {
    display: flex;
    height: 1.5em;
    overflow: hidden;
    font-family: 'Okuda';
    font-weight: 400;
    // font-size: 1.2em;
    color: white;
    justify-content: space-between;
    align-items: center;

    .DividingHeader__leftTitle,
    .DividingHeader__centerTitle,
    .DividingHeader__rightTitle {
        background: $color_background;
        font-size: 2.15em;
        margin-top: -1px;
        padding: 0 0.1em;
        text-transform: uppercase;
    }

    .DividingHeader__spaceDivider {
        flex-grow: 1;
        height: 10px;
        height: 100%;
        background: $color_yellow;
    }

    .DividingHeader_startCap,
    .DividingHeader_endCap {
        width: 1.75em;
        height: 100%;
        background: $color_yellow;
    }

    .DividingHeader_startCap {
        border-top-left-radius: 1em;
        border-bottom-left-radius: 1em;
    }
    .DividingHeader_endCap {
        border-top-right-radius: 1em;
        border-bottom-right-radius: 1em;
    }

    .DividingHeader_startCapNoText,
    .DividingHeader_endCapNoText {
        width: 2em;
        height: 100%;
        background: $color_yellow;

        &::after {
            content: '';
            position: relative;
            z-index: 1;
            display: block;
            background: $color_background;
            height: 100%;
            width: 0.25em;
        }
    }

    .DividingHeader_startCapNoText {
        border-top-left-radius: 1em;
        border-bottom-left-radius: 1em;

        &::after {
            float: right;
        }
    }

    .DividingHeader_endCapNoText {
        border-top-right-radius: 1em;
        border-bottom-right-radius: 1em;

        &::after {
            float: left;
        }
    }
}
